n8n-workflows/workflows/n8n-workflow-no-hmac.json
{
  "name": "test-workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-workflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "no-hmac-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extraction et validation simple (SANS HMAC pour l'instant)\n\nconst headers = $input.item.json.headers;\nconst body = $input.item.json.body;\n\nconsole.log('📥 Headers reçus:', JSON.stringify(headers, null, 2));\nconsole.log('📥 Body reçu:', JSON.stringify(body, null, 2));\n\n// Vérifier app_id\nconst appId = body.metadata?.appId;\nif (!appId) {\n  throw new Error('❌ Missing app_id in metadata');\n}\n\nconsole.log('✅ App ID validé:', appId);\nconsole.log('⚠️  Note: Vérification HMAC désactivée pour le test');\n\n// Passer les données au nœud suivant\nreturn { json: body };"
      },
      "id": "validate-data",
      "name": "Valider Données",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Traiter la requête et créer la réponse\n\nconst data = $input.item.json.data;\nconst metadata = $input.item.json.metadata;\n\nconsole.log('📥 Message:', data.message);\nconsole.log('👤 User:', metadata.userId);\nconsole.log('🏢 App:', metadata.appId);\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      message: '🎉 Workflow N8N exécuté avec succès !',\n      receivedMessage: data.message,\n      receivedTimestamp: data.timestamp,\n      appId: metadata.appId,\n      userId: metadata.userId,\n      processedAt: new Date().toISOString(),\n      workflowInfo: {\n        name: 'test-workflow',\n        version: '1.0.0',\n        environment: 'test',\n        security: 'App ID verification only (HMAC to be added)'\n      }\n    }\n  }\n};"
      },
      "id": "process-request",
      "name": "Traiter la Requête",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Valider Données", "type": "main", "index": 0 }]]
    },
    "Valider Données": {
      "main": [[{ "node": "Traiter la Requête", "type": "main", "index": 0 }]]
    },
    "Traiter la Requête": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}

